body {
    padding: 0;
    margin: 0;

    background-color: whitesmoke;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*______________________________________________________________________________________*/
/*------------------------------------------------------*/
.div_header {
    width: 100%;
    height: 130px;

    padding: 0;

    color: black;
    background-color: white;
}
.header {
    
}
.header_div {
}
.sections {
    display: inline-block;
    padding-top: 0px;
}
.logo {
    width: 100px;
    height: 100px;

    padding-top: 15px;
    padding-left: 15px;

    float: left;
}
.list_img2 {
    width: 30px;
    height: 30px;
    
    float: left;
    padding-right: 16px;
}
.date {
    width: 150px;
    height: 30px;

    padding-left: 0px;
    padding-bottom: 5px;
    float: right;
}
.div_list {
    padding-top: 50px;

}

/*------------------------------------------------------*/
.list_item {
    width: 150px;
    overflow: hidden;
    
    list-style: none;
    
}
.list_button {
    display: flex;
    gap: 1em;
}
.list_img {
    width: 30px;
    height: 30px;

    padding-top: 10px;

}
.list_button p {

}
/*------------------------------------------------------*/
.list_show {
    height: 0;
    background-color: white;

    border-radius: 4%;

    transition: height .4s;
    list-style: none;
}
.nav_link--inside {
    border-radius: 6px;
}
.nav_link {
    color: black;

    display: block;
    text-decoration: none;
}
.nav_link--inside:hover {
    /*Algun efecto*/
}
/*------------------------------------------------------*/
.list_item--click {
    cursor: pointer;
}
/*------------------------------------------------------*/
/*______________________________________________________________________________________*/
/*------------------------------------------------------*/
.all_news {
    display: flex;
    border-top: 3px solid black;
}
/*------------------------------------------------------*/
/*______________________________________________________________________________________*/
/*------------------------------------------------------*/
.colum_1 {
    width: 30%;

    padding-top: 0px;
    padding-right: 17px;

    background-color: #E3E3E3;
}
.new_1 {
    height: 550px;

    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 1%; 
}
.new_1 p {
    padding: 3px;
}
.new_img_1 {
    width: 350px;
    height: 210px;

    padding-top: 6px;
    padding-right: 15px;
    padding-bottom: 5px;

    float: left;
}
/*------------------------------------------------------*/
/*______________________________________________________________________________________*/
/*------------------------------------------------------*/
.important {
    width: 38%;

    background-color: #E3E3E3;
}
.important_news {
    width: 100%;

}
/*------------------------------------------------------*/
.important_news1 {
    height: 300px;

    background-image: url("/images/new_img3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.important_news2 {
    height: 300px;

    background-image: url("/images/new_img7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.important_news3 {
    height: 300px;

    background-image: url("/images/new_img8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.important_news4 {
    height: 300px;

    background-image: url("/images/new_img9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.important_news5 {
    height: 300px;

    background-image: url("/images/new_img11.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
/*------------------------------------------------------*/
.title_background {
    width: 37.9%;

    padding-top: 70px;

    position: absolute;

    background-color: grey;
    opacity: 0.4;
}
.title {
    text-align: center;
    padding-top: 20px;
}
/*------------------------------------------------------*/
.title_background:hover {
    opacity: 0.6;
}
/*------------------------------------------------------*/
/*______________________________________________________________________________________*/
/*------------------------------------------------------*/
.colum_2 {
    width: 30%;

    float: right;
    padding-top: 0px;
    padding-left: 17px;

    background-color: #E3E3E3;
}
.new_2 {
    height: 550px;

    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 1%;    
}
.new_2 p {
    padding-left: 10px;
}
.new_img_2 {
    width: 350px;
    height: 210px;

    padding-top: 6px;
    padding-left: 15px;
    padding-bottom: 5px;
    padding-right: 0px;

    float: right;
}
/*------------------------------------------------------*/
/*______________________________________________________________________________________*/




/*Colors:   #B1E0E4   #13BAF0    #1C8DD9    #1375F0    #124EE6*/

