/*Colors:   #B1E0E4   #13BAF0    #1C8DD9    #1375F0    #124EE6*/

body {
    background-color: #B1E0E4;

    padding: 0;
    margin: 0;
}
/*______________________________________________________________________________________*/
/*--------------------*/
.divHeader {
    background-color: #13BAF0;
    color: black;

    padding: 0;

    width: 100%;
    height: 200px;
}
.header {

}
.headerDiv {

}
/*--------------------*/
.logo {

}
.date {

}
.sections {

}
.searcher {

}
/*--------------------*/
/*______________________________________________________________________________________*/
.colum1 {

}
.important {

}
.colum2 {

}
/*--------------------*/
.colum1 img {

}
.important img {

}
.colum2 img {

}
/*--------------------*/
/*______________________________________________________________________________________*/