body {
    padding: 0;
    margin: 0;

    background-color: #B1E0E4
}
/*______________________________________________________________________________________*/
/*------------------------------------------------------*/
.div_header {
    width: 100%;
    height: 125px;

    padding: 0;

    color: black;
    background-color: #13BAF0;
}
.header {
    
}
.header_div {
    display: inline-block;
}
.logo {
    width: 100px;
    height: 100px;

    padding-top: 10px;
    padding-left: 5px;
}
.date {

}
.sections {
    padding-top: 10px;
}
/*------------------------------------------------------*/
.list {

}
.list_item {
    width: 150px;
    overflow: hidden;

    text-align: left;
    list-style: none;
    
}
.list_button {
    display: flex;
    gap: 1em;
}
.list_img {
    width: 20px;
    height: 20px;

    padding-top: 15px;

}
.list_button p {

}
/*------------------------------------------------------*/
.list_show {
    height: 0;

    border-left: 2px solid black;

    transition: height .4s;
    list-style: none;
}
.nav_link--inside {
    border-radius: 6px;
}
.nav_link {
    color: black;
    display: block;
    text-decoration: none;
}
.nav_link--inside:hover {
    /*Algun efecto*/
}
/*------------------------------------------------------*/
.list_item--click {
    cursor: pointer;
}
/*------------------------------------------------------*/
/*______________________________________________________________________________________*/
.colum1 {

}
.important {

}
.colum2 {

}
/*--------------------*/
.colum1 img {

}
.important img {

}
.colum2 img {

}
/*--------------------*/
/*______________________________________________________________________________________*/







/*Colors:   #B1E0E4   #13BAF0    #1C8DD9    #1375F0    #124EE6*/

