body {
    background-color: #FCED56;

    padding: 0;
    margin: 0;
}

/*________________________________________________________*/
.divHeader {
    background-color: #FCED56;
    color: black;

    width: 100%;
    height: 50px;

    padding: 0px;
    margin: 0px;
}
/*------------------------------------*/
.logo {
    width: 40px;
    padding-top: 5px;
    padding-left: 5px;
    
    text-align: left;
    float: left;
}
.options {
    display: inline-block;
    padding-top: 15px;
    padding-left: 30px;

}
.options a {
    text-decoration: none; 
    margin-left: 40px;
    color: black;
}
.options a:hover {
    color: grey;
}
/*___________________________________________*/
.explore {
    float: right;

    padding-top: 0px;
    padding-right: 0px;
}
/*----------------*/
.menu {
    list-style: none;
    padding: 0px;
}
.menu:hover .submenu {
    visibility: visible;
    transition: all 1s;
}
.menu li {

}
.menu li img {
    width: 30px;
}
/*----------------*/
.submenu {
    visibility: hidden;

    height: 100px;

    list-style: none;
    background-color: #FCED56;
    border-radius: 6%;
}
.submenu li {
    padding-top: 11px;
    padding-right: 40px;    
}
.submenu li a {
    text-decoration: none;
    
    color: black;
}
.submenu li a:hover {
    color: grey;
}
/*________________________________________________________*/
.divSearcher {
    background-image: url("../images/background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 500px;

    padding: 0px;
    margin: 0px;
}
.searcher {
    padding-top: 10%;
    text-align: center;
}
.searcher input {
    width: 500px;
    height: 30px;
}
h1 {
    text-shadow: 2px 2px 2px darkgray;
    font-size: 2.7vw;
}
h2 {
    text-shadow: 3px 3px 3px darkgray;
    font-size: 1.7vw;
}
/*________________________________________________________*/
.gallery {
    width: 100%;

}
.gallery div {
    width: 49%;
    overflow: hidden;

    padding-top: 5px;
    padding-right: 5px;
    padding-left: 7px;
    padding-bottom: 0px;
    display: inline-block;
}
.gallery div img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.gallery div img:hover {
    transform: scale(1.1);


    transition: all 3s;
}
/*________________________________________________________*/
footer {
    background-color: #D9A51C;
    
}
.logo2 {
    padding-left: 2%;

    width: 29%;
    display: inline-block;
}
.logo2 img {
    width: 90px;
    padding-left: 23%;
}
.logo2 p {
    
}
.us {
    width: 29%;
    display: inline-block;
}
.follow {
    width: 29%;
    display: inline-block;
    
    padding-left: 10%;

}
.follow img {
    width: 30px;
    padding-left: 40px;
    padding-bottom: 30px;
}
/*________________________________________________________*/
@media (max-width:1000px) {
    .searcher {
        text-align: center;
        padding-left: 20px;
    }
    h1 {
        font-size: 5vw;
    }
    h2 {
        font-size: 3vw;
    }
}
@media (max-width:900px) {
    .searcher {
        text-align: left;
        padding-left: 10px;
    }
    .divSearcher {
        height: 400px;
    }
}
@media (max-width:700px) {
    .searcher {
        text-align: left;
        padding-left: 5px;
        padding-top: 100px;
    }
    .divSearcher {
        height: 400px;
    }
}
@media (max-width:650px) {
    .searcher {
        text-align: center;
        padding-left: 0px;
    }
    .divSearcher {
        height: 400px;
    }
    h1 {
        font-size: 7vw;
    }
    h2 {
        font-size: 5.1vw;
    }
}
/*----------------*/
@media (max-width:1500px) {
    .gallery div {
        width: 31%;
        height: 400px;
    }
}
@media (max-width:650px) {

    .gallery div {
        padding-left: 0px;
        width: 100%;
        height: 300px;
    }
}
@media (max-width:520px) {
    .gallery div {
        padding-left: 0px;
        width: 100%;
        height: 200px;
    }
}
/*----------------*/

@media (max-width:800px) {
    .logo2 {
        width: 20%;
    }
    .follow {
        width: 30%;
        padding-left: 40px;
    }
    .follow img {
        width: 20px;
    }
    .us {
        width: 30%;
        padding-left: 50px;
    }
}
