body {
    padding: 0;
    margin: 0;
}

/*________________________________________________________*/
.divHeader {
    background-color: #FCED56;
    color: black;

    width: 100%;
    height: 50px;

    padding: 0px;
    margin: 0px;
}
/*------------------------------------*/
.logo {
    width: 40px;
    padding-top: 5px;
    padding-left: 5px;
    
    text-align: left;
    float: left;
}
.options {
    display: inline-block;
    padding-top: 15px;
    padding-left: 30px;

}
.options a {
    text-decoration: none; 
    margin-left: 40px;
    color: black;
}
/*___________________________________________*/
.explore {
    float: right;

    padding-top: 0px;
    padding-right: 20px;
}
/*----------------*/
.menu {
    list-style: none;
    padding: 0px;
}
.menu:hover .submenu {
    visibility: visible;
    transition: 1s;
}
.menu li {

}
.menu li img {
    float: right;
    width: 30px;
}
/*----------------*/
.submenu {
    visibility: hidden;

    height: 100px;

    list-style: none;
    background-color: #F09B3B;
}
.submenu li {
    padding-top: 11px;
    padding-right: 40px;    
}
.submenu li a {
    text-decoration: none;
    
    color: black;
}
/*________________________________________________________*/
.divSearcher {
    background-image: url("../images/background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 500px;

    padding: 0px;
    margin: 0px;
}
.searcher {
    padding-top: 10%;
    text-align: center;
}
.searcher input {
    width: 500px;
    height: 30px;
}